@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Serif', serif;
    background-color: #0099ff;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr;
}

.grid header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid header ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.grid header ul li {
    list-style: none;
    font-weight: bold;
}

.grid header nav {
    width: 100%;
    background-color: #fff;
}

.grid .input-link {
    margin: auto;
}

.grid .input-link form input {
    position: relative;
    width: 250px;
    padding: 7px;
    font-family: inherit;
    outline: none;
    font-size: 12px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.grid .input-link form button {
    position: absolute;
    background-color: #61E786;
    border: none;
    width: 30px;
    height: 29px;
    font-size: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grid main {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.9rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.grid main ul li {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.grid main ul li a {
    text-decoration: none;
    color: #333;
}

.grid main ul li:not(.grid main ul li:first-child) {
    margin-top: 10px;
}

.grid main ul li .acoes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.editButton {
    color: #61E786;
}

.deleteButton {
    color: #D63230;
}

.editLink {
    display: none;
}