@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    gap: 20px;
    background-color: rgb(59, 59, 133);
    height: 100%;
    color: #fff;
}

body {
    height: 100vh;
    font-family: 'Roboto Serif', serif;
}

input {
    width: 300px;
    padding: 5px;
    border-radius: 4px;
}

main ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

main ul li a {
    color: #fff;
}

main ul li a:hover {
    color: #ffffffaf;
}

main ul li span {
    cursor: pointer;
    color: red;
}

.editButton {
    color: rgb(40, 211, 91);
}

.editar {
    display: none;
}